body {
  width: 100%;
  height: 100%;
}

section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  img {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    object-fit: cover;
  }

}

.parallax {

  .bg {
    width: 120vw;
    height: 120vh;
    left: 0;
    top: 0;
    transform: scale(1.3);
  }

  .plane {
    top: 90vh;
    left: 0;
    height: 400px;
    width: 400px;
    transform: rotate(40deg);
  }

  .building {
    width: 100%;
    height: 100%;
    transform: scale(1.3);
  }

  &:after {
    content: "";
    height: 30vh;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1));
  }

}

.hero-text {
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 5vw;
    font-weight: 300;

    strong {
      display: block;

      span{
        color:#88ce02
      }
    }
  }
}
